
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 350px;
}


.profile-img {
    width: 150px;        
    height: 160px;
    object-fit: cover;
    border-radius: 50%;  
    margin-bottom: 20px;
    border: 3px solid #6c7dfc;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.btn {
    padding: 8px 18px;
    border: 2px solid #6c7dfc;
    border-radius: 10px;
    text-decoration: none;
    color: #6c7dfc;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: #6c7dfc;
    color: white;
}
