body {
    font-family: "Georgia", serif;
    margin: 0;
    padding: 40px;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
}


.recipe-card {
    background: #fff;
    width: 700px;
    padding: 40px 45px;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header h1 {
    margin: 0;
}

.badge {
    background: #ff6c6c;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.info {
    margin-top: 12px;
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #6b6b6b;
}

.section {
    margin-top: 30px;
    font-size: 22px;
    border-left: 4px solid #ff6c6c;
    padding-left: 10px;
    color: #333;
}


.ingredient-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 35px;
}

.ingredient-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #444;
}
.tick {
    color: red;
    font-weight: bold;
    margin-right: 6px;
}



.instructions {
    font-size: 16px;
    line-height: 1.8;
    padding-left: 20px;
}

.instructions li {
    margin-bottom: 10px;
}


.highlight {
    background: #fff4a3;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}


.tip-box {
    background: #e8f5ff;
    padding: 15px;
    border-left: 4px solid #66b6ff;
    margin-top: 25px;
    font-size: 15px;
    border-radius: 6px;
}